/*font-family: 'Lemonada', cursive;
font-family: 'Raleway', sans-serif;*/

body{
    margin: 0;
    padding: 0;
    background-color: rgba(250, 235, 215, 0.8)
}
.title{
    padding: 1em;
    text-align: center;
    font-family: 'Lemonada', cursive;
    font-size: 3em;
    color: cadetblue;
}
.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main-card{
    display: flex ;
    flex-flow: column;
    justify-content: center;
    background-color: cadetblue;
    width: 35%;
    border-radius: 20px 0;
}
.main-card-title{
    font-family: 'Lemonada', cursive;
    font-size: 1.2em;
    color: aliceblue;
    text-align: center;
}
.main-card-form-div{
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    text-align: center;
}
.main-card-form-submit{
    display: block;
    margin: 0 auto;
}
.main-card-btn{
    display: block ;
   width: 100px;
   height: 24px;
   margin: 1em;
   margin: 0 auto;
}
.results{
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    text-align: center;
}